body {
    background: url(../images/thanos.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  } 
.container{
    padding-bottom: 20px;
}

.heading{
    font-size: 48px;
    color: white;
    /* background-color: #cb6f33; */
    margin: 5px;
    padding-top: 5px;
    text-align: center;
    font-size: 50px;
    /* float: left; */
}

.instructions{
    margin-top: 10px;
    width: 400px;
    padding: 15px;

    /* margin-right: 500px; */
    /* background-color:black; */
    /* opacity: .5; */
    /* filter: alpha(opacity=50); */
}
li{
    color: white;
    font-size: 15px;
    line-height: 1.6;  
}
.button-center{
    text-align: center;
}

.computerRandom {
    margin: 15px;
    /* background-color: #00295b; */
    width: 125px;
    height: 75px;
}
.computerRandom h3 {
    text-align: center;
    padding-top: 10px;
    color: white;
}

#random-number{
    color: white;
    font-size: 30px;
    padding-top: 10px;
}

#wins-loss{
    margin: 15px;
    background-color: red;
    height: 75px;
    width: 100px;
    color: white;
}


.crystals{
    margin: 5px;
    padding-top: 5px;
    float: right;
}

.purple{
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
    content:url(../images/purple.jpg);
    border: solid 1px gray;
}
.yellow{
    
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
    content:url(../images/yellow.jpg);
    border: solid 1px gray;
}
.red{
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
    content:url(../images/red.jpg);
    border: solid 1px gray;
}
.green{
    height: 100px;
    width: 100px;
    float: left;
    content:url(../images/green.jpg);
    border: solid 1px gray;
}

#scoreHeader{
    margin: 10px;
    color: white;
}

#scoreCard{
    /* float: left; */
    margin-left:5px;
    /* background-color: chartreuse; */
    height: 75px;
    width: 100px;
    color: white;
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
    
}
