body {
    background: url(../images/thanos.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
  } 
.container{
    padding-bottom: 20px;
}

.heading{
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
    text-shadow: 2px 2px 4px #000;
    font-size: 3vw;
    color: white;
    /* background-color: #cb6f33; */
    margin: 2vw;
    padding-top: 1vw;
    text-align: center;

}

.instructions{
    margin-top: 1vw;
    width: 60vw;
    padding: 15px; 
    font-family: 'Audiowide', cursive;
}
li{
    color: white;
    text-shadow: 2px 2px 4px #000;
    font-size: 1vw;
    line-height: 1.6;  
}
.button-center{
    text-align: center;
    font-family: 'Audiowide', cursive;
}

.computerRandom {
    margin: 15px;
    /* background-color: #00295b; */
    width: 125px;
    height: 75px;
}
.computerRandom h3 {
    text-align: center;
    padding-top: 10px;
    color: white;
}

#random-number{
    color:black;
    font-size: 30px;
    padding-top: 10px;
}
.card-deck{
    font-family: 'Audiowide', cursive;
    position: relative;
}

.card{
    /* width: 75px; */
    height: 125px;
    margin-top: 20px;
    background-color:white;
    opacity: 0.5;
}
.card-body{

    background: none;
}
/* 
 #wins-loss{
    margin: 15px;
     background-color: red; 
    height: 75px;
    width: 100px;
    color: white;
}  */
.W{
    margin-top: 10px;
    font-size: 20px;
}
.L{
    margin-top: 10px;
    font-size: 20px;
}


.crystals{
    
    position: absolute;
    top: 110%;
    left: 35%;
    margin: 5px;
    padding-top: 5px;
    float: right;
    /* text-align: center; */
}

.purple{

    position: relative;
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 10px;
    content:url(../images/purple.jpg);
    border: solid 1px gray;
    
}

.purple:hover {
    opacity:0.8;
}


.yellow{
    
    position: relative;
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 10px;
    content:url(../images/yellow.jpg);
    border: solid 1px gray;
}

.yellow:hover {
    opacity:0.8;
}
.red{
    
    position: relative;
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 10px;
    content:url(../images/red.jpg);
    border: solid 1px gray;
}

.red:hover {
    opacity:0.8;
}

.green{
    position: relative;
    height: 60px;
    width: 60px;
    float: left;
    content:url(../images/green.jpg);
    border: solid 1px gray;
}
.green:hover {
    opacity:0.8;
}

#scoreHeader{
    margin: 10px;
    color: white;
}

#scoreCard{
    /* float: left; */
    margin-left:5px;
    /* background-color: chartreuse; */
    height: 75px;
    width: 100px;
    color: black;
    font-size: 30px;
    padding-top: 10px;
    /* text-align: center; */
    
}

@media only screen and (max-width: 768px) {
    .crystals {

    top: 100%;
    left: 30%;
  }
}
@media only screen and (max-width: 375px) {
    .instructions{
        display: none;
    }
    .crystals {
        top: 100%;
        left: 9%;
    }
  }


